.search_wrapper {
  display: flex;
  align-items: center;
  height: 5rem;
  padding: 0 2rem;
  position: fixed;
  background-color: white;
  width: calc(100% - 4rem);

  .search {
    height: 100%;
    width: 90%;
    border: 0;
    font-size: 1.8rem;
    font-weight: 200;
  }

  .add_icon {
    cursor: pointer;
  }
}
