<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <link rel="stylesheet" href="../public/css/main.min.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <section class="primary_list">
      <div class="search_wrapper">
        <img src="../public/img/search.svg" class="search_icon">
        <input type="text" class="search" placeholder="Search Here"/>
        <img src="../public/img/add.svg" class="add_icon">
      </div>

      <ul class="machines"></ul>
    </section>

    <section class="add_machine_dialog">
      <div class="back_button">
        <img src="../public/img/back.svg" class="add_icon">
      </div>
      <form>
        <input type="text" class="title", placeholder="Title"/>
        <input type="text" class="ip", placeholder="Ip"/>
        <input type="text" class="user", placeholder="User"/>
        <input type="submit">
      </form>
    </section>
  </body>

  <script>
    // import jquery
    window.$ = window.jQuery = require('../public/js/jquery-2.2.0.min.js');

    // require index js
    require('../public/js/index.min.js')
  </script>
</html>
